{% extends 'index.html' %}
{% block title%}{{ title }}{% endblock title %}
{% block nav_bar_contact %} active {% endblock nav_bar_contact %}
{% block content %}
    <div class="content">
        <div>
            <form action="" method="post">
            {% csrf_token %}
                <ul style="list-style: none;">
                    {% for field in form %}
                    <li><span id="field-lbl" style="display: block;width: 215px;">{{ field.label }}<span id="field-help-text" style="float: right;padding-top: 3px;font-size:13px;color: indianred"> {{field.help_text}}</span></span>{{ field }}</li>
                    {% endfor %}
                    <button class="btn btn-primary" type="submit">Send!</button>
                </ul>
            </form>
        </div>
    </div>
{% endblock content %}