body{
    background: url("../images/sunset.jpg") no-repeat center center fixed;
    background-size: cover;
}

h4{
    text-align: center;
    color: rgba(250, 221, 197);
}

.hover-link{
    cursor: pointer;
    font-size: 12pt;
}

a{
    color: rgba(250, 221, 197);
    /*text-shadow: -.5px 0 black, 0 1px black, 1px 0 black, 0 -.5px black;*/
}

a:hover{
    color: rgba(190, 175, 172);
}

.odd{
    background-color: rgba(218, 204, 201, 0.1);
}
.even{
    background-color: rgba(217, 183, 176, 0.1);
}

.emp-header{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: rgba(220, 141, 124, 0.5);
    border: rgba(255,255,204,.4) solid 1.5px;
    border-radius: 5px;
}
.emp-body{
    border-top: rgba(255,255,204,.4) solid 1.5px;
    border-right: rgba(255,255,204,.4) solid 3px;
    border-bottom: rgba(255,255,204,.4) solid 1.5px;
    border-left: rgba(255,255,204,.4) solid 3px;
    border-radius: 5px;
    margin-top: 5px;
    color: rgba(250, 221, 197);

}

.employment-header{
    color: rgba(217, 183, 176);
}

#resume-link{
    text-align: center;
}

.btn-resume{
    margin: -10px 0px 10px 0px;
    border-top: rgba(255,255,204,.4) solid 1.5px;
    border-right: rgba(255,255,204,.4) solid 3px;
    border-bottom: rgba(255,255,204,.4) solid 1.5px;
    border-left: rgba(255,255,204,.4) solid 3px;
    background-color: rgba(220, 141, 124, 0.5);
}
