#field-lbl{
    display: block;
    width: 250px;
}

#field-help-text{
    float: right;
    padding-top: 3px;
    font-size:13px;
    /*color: indianred;*/
}


@media (min-width: 40px) and (max-width: 600px) {
    #phone{
        width: 100%;
    }
}

.contact-container{
    background-color: rgba(0,0,0, 0.1);
    color: rgba(255,255,204);
    border-radius: 10px;
    border: .1em solid rgba(255,255,204,.4);
    /*opacity: .8;
    margin: 5px;*/
    padding: 5px;
    width: 280px;
}
