body{
    background: url("../images/MyHawaiiPic2.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1, h4{
    color: rgba(255,255,204);
}

.card{
    /*background: rgba(220,220,220,0.2);*/
    background: rgba(255,255,255,0.1);
    border: white solid 1px;
    margin: 15px;
}

.pro-card-text{
    /*color: rgba(0,51,0,1);*/
    color: rgba(255,255,204);
}