body{
   /* background-color: blue;
    background: url("../images/whale.jpg") no-repeat center center fixed;
    background-size: cover;*/
}
@media (min-width: 40px) {
    body {

        background: url("../images/whale_phone.jpg") no-repeat center center fixed;
        background-size: cover;
    }
}
/*
@media (min-width: 500px) {
    body {
        background: blue;
    }
}
*/
@media (min-width: 600px) {
    body {
        background: url("../images/whale.jpg") no-repeat center center fixed;
        background-size: cover;
    }
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-custom{
    background-color: blue;
}

.content{
    margin-top: 70px;
    margin-bottom: 100px;
}

#content{
    margin: 25px;
}

.home-text{
    color: white;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    color: black;
    background-color: white;
    opacity: .9;
    padding: 20px;
    margin-top: 220px;
}
a{
    color: red;
}

.weather{
    color: white;
    font-size: 14px;
}

.lastUpdated{
    font-size: 10px;
}