body{
   /* background-color: blue;*/
    background: url("../images/whale.jpg") no-repeat center center fixed;
    background-size: cover;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-custom{
    background-color: blue;
}

.content{
    margin-top: 60px;
    margin-bottom: 70px;
}

#content{
    margin: 25px;
}

.home-text{
    color: white;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    color: black;
    background-color: white;
    opacity: .9;
    padding: 20px;
    margin-top: 220px;
}
a{
    color: red;
}