body{
   /* background-color: blue;
    background: url("../images/whale.jpg") no-repeat center center fixed;
    background-size: cover;*/
}
@media (min-width: 40px) {
    body {

        background: url("../images/whale_phone.jpg") no-repeat center center fixed;
        background-size: cover;
    }
}
/*
@media (min-width: 500px) {
    body {
        background: blue;
    }
}
*/
@media (min-width: 600px) {
    body {
        background: url("../images/whale.jpg") no-repeat center center fixed;
        background-size: cover;
    }
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-custom{
    background-color: blue;
}

.content{
    margin-top: 70px;
    margin-bottom: 100px;
}

#content{
    margin: 25px;
}

.home-text{
    /*color: white;*/
    color: rgba(255,255,204);
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    color: black;
    background-color: white;
    opacity: .9;
    padding: 20px;
    margin-top: 220px;
}
a{
    color: red;
}

.weather{
    margin-top: 5em;
    margin-bottom: -3em;
    text-align: center;
    color: rgba(255,255,204);
    font-size: 14px;
}

.weather-container{
    padding: 1em;
    margin: .5em;
    display: inline-block;
    text-align: center;
    background-color: rgba(128,128,128,.2);
    border: .1em solid rgba(255,255,204,.4);
    border-radius: 15px;
}

.lastUpdated{
    font-size: 10px;
}