{% extends 'index.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/employment.css' %}" />{% endblock css %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
    <div class="content">
        <h1 class="employment-header">Aerios Direct</h1>
        <div class="row" style="color: white">
            <div class="col-lg-12 col-xs-1 employment-header"><h3>About</h3></div>
            <div class="col-lg-12 col-xs-1">Aerios' primary business goal was to increase response rates to marketing campaigns. <br>
                                            They also created an online "store" to facilitate ordering direct mail campaigns and
                                            marketing collateral<br>
                                            including business cards, brochures, post cards and other related materials.</div>
            <div class="col-lg-12 col-xs-1 employment-header"><h3>Responsibilities</h3></div>
            <div class="col-lg-12 col-xs-1">Responsible for ordering all production supplies.<br>
                                            Responsible for daily production Quality Assurance<br>
                                            </div>

            <div class="col-lg-12 col-xs-1 employment-header"><h3>Accomplishments</h3></div>
            <div class="col-lg-12 col-xs-1">Integrated the Xerox WorflowManager into the Aerios' proprietary ordering system greatly reducing production and finishing times</div>
            <div class="col-lg-12 col-xs-1">Set up finishing templates to reduce finishing times.</div>
            <div class="col-lg-12 col-xs-1"></div>
        </div>
    </div>
{% endblock content %}