{% extends 'index.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/employment.css' %}" />{% endblock css %}
{% block nav_bar_employment %} active {% endblock nav_bar_employment %}
{% block title%} {{ title }} {% endblock title %}
{% block content %}
    <div class="content">

    <div id="resume-link">
        <a class="btn btn-secondary btn-resume" target="_blank" href="{% static 'resources/Nick Ross.pdf' %}">View Resume</a>
    </div>
        <div>
            <div class="row emp-header">
                <div class="col-lg-4 col-xs-1">Employer Details</div>
                <div class="col-lg-4 col-xs-1">Accomplishments</div>
                <div class="col-lg-4 col-xs-1">Employer Description</div>
            </div>
            {% for employer in employers %}
            <div class="row emp-body {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                    <div class="col-lg-4 col-xs-1"><span><u><a href="{{ employer.name|slugify|lower }}">{{ employer.name }}</a></span></u><br />
                    <span>{{ employer.title }}</span><br />
                    <span>{{ employer.type }}</span><br />
                    <span>{{ employer.start_date|date:'F Y' }} | {% if employer.end_date == '' or employer.end_date == none  %}
                                                                    Current
                                                                {% else %}
                                                                    {{ employer.end_date|date:'F Y' }}
                                                                {% endif %}
                    </span>
                </div>
                <div class="col-lg-4 col-xs-1">
                    <ul>
                    {% for accomp in accomplishments %}
                        {% if accomp.company_name|stringformat:"s" == employer.name %}
                            <li><span>{{ accomp.title }}</span>
                                <ul>
                                    <li>{{ accomp.description }}</li>
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                </div>
                <div class="col-lg-4 col-xs-1">
                    {{ employer.company_description }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/employment.js' %}"></script>
{% endblock js%}