{% extends 'index.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/employment.css' %}" />{% endblock css %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
    <div class="content">
        <h1 class="employment-header">onTargetJobs</h1>
        <div class="row" style="color: white">
            <div class="col-lg-12 col-xs-1 employment-header"><h3>About</h3></div>
            <div class="col-lg-12 col-xs-1">onTargetJobs was the parent company of several niche career centers.<br>
                                            These centers included:
                                            <ul>
                                                <li><a target="_blank" href="https://www.biospace.com/">BioSpace</a></li>
                                                <li><a target="_blank" href="https://healthecareers.com/">Heath eCareers</a></li>
                                                <li><a target="_blank" href="https://www.hcareers.com/">HCareers</a></li>
                                                <li><a target="_blank" href="https://regionalhelpwanted.com/">RHW</a></li>
                                            </ul>
            </div>
            <div class="col-lg-12 col-xs-1 employment-header"><h3>Responsibilities</h3></div>
                                                                <div class="col-lg-12 col-xs-1">
                                                                  <ul>
                                                                      <li>intermediary between "The Business" and IT.</li>
                                                                      <li>SalesForce Admin
                                                                          <ul>
                                                                              <li>Troubleshooting/Help with requests</li>
                                                                              <li>Global updates to support business needs</li>
                                                                          </ul>
                                                                      </li>
                                                                  </ul>
                                                                </div>

            <div class="col-lg-12 col-xs-1 employment-header"><h3>Accomplishments</h3></div>
            <div class="col-lg-12 col-xs-1">
                                            <ul>
                                                <li>Awarded several quarterly awards
                                                    <ul>
                                                        <li>Submitted by peers, approved by management</li>
                                                    </ul>
                                                </li>
                                                <li>Improved the appearance of postings before hitting review</li>
                                                <li>Developed C# apps to automate tasks
                                                    <ul>
                                                        <li>Send email about status of an upload(s)</li>
                                                        <li>Look for "orphaned" files.
                                                            <ul>
                                                                <li>Orphaned files could be lost revenue.</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>Created a macro that "automated" a call list for management
                                                    <ul>
                                                        <li>This might be my <em>first</em> program to automate a task used in a production environment.</li>
                                                    </ul>
                                                </li>
                                            </ul>
            </div>
            <div class="col-lg-12 col-xs-1"></div>
            <div class="col-lg-12 col-xs-1"></div>
        </div>
    </div>
{% endblock content %}