{% extends 'index.html' %}
{% block title %}Nick's Home{% endblock title %}
{% load static %}
<!--{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}" />{% endblock css %}-->
{% block nav_bar_home %} active {% endblock nav_bar_home %}
{% block content %}
    <div class="content">
        <div class="content-container home-text" id="boob">
            <h1>H!</h1>
            <h3>Thanks for visiting!</h3>
            <p>
                It's been quite a journey to get to a place where I can create this site.<br>
                I've always been interested in computers and what they can do.<br>
                How they've made the world and virtually everything in it, accessible and for the most part connected in some way<br>
                Totally cool!
            </p>
            <p>
                The beginning of my professional career was in the commercial printing industry.<br>
                I was fortunate enough to have been able to work my way up in the industry.<br>
                From deliveries, pre press, finishing and at one point a production manager.<br>
                High point for me in this industry was setting up the digital production segment for <a href="employment/aerios-direct-inc">Aerios Direct</a>.
            </p>
            <p>
                When this business was unable to continue, I had to make a decision. Continue on in commercial printing or
                an industry that had a manufacturing segment or blow it up and pursue something that I found fascinating and I could
                be passionate about!<br>
                I was fortunate enough to have an interview with <a href="employment/ontargetjobs">onTargetJobs</a>.
                I remember during the interview it was mentioned that "you <em><b>get</b></em> to build robots". Oh man, I would get to build robots!
                I had to have this position!<br>
                Lucky for me, I was chosen to be the next Feeds Fulfillment Specialist and my new career path started!
            </p>
            <p>
                onTargetJobs was the perfect place for me to land. I was able to learn and grow!<br>
                Feeds Fulfillment Specialist primary duties were to be the "go between" for the business needs and IT.<br>
                At first, this didn't include building "bots" (web scrapers) basically because I didn't know how.<br>
                My primary IT contact was gracious and patient teaching me how to utilize the software we used to scrape. I was on my way!
            </p>
            <p>
                onTargetJobs was aquired by <a href="employment/dice-holdings-inc">DHI Inc.</a> and luckily most of the brands that I supported would still be viable.<br>
                DHI was an awesome place to be employed! I continued learning and developing coding skills and was promoted to Senior Feeds Fulfillment Specialist.<br>
                Now I was responsible for all the import and export code bases. I still developed some apps to help automate some tasks for the business and "tasks" I had.<br>

            </p>
            <p>
                In December of 2018 DHI sold Health eCareers to Everyday Health. Shortly after the sale, I was promoted Software Engineer! A goal was realized!
                I still developed scrapes, integrated inbound feeds, managed and developed
                outbound feeds but I was much more involved in creating automated tests cases. I really enjoy
                automating the test cases. It's like developing small little apps to do a specific task. After doing manual testing for regression, yeah, automating
                that is well worth it! We transitioned from TFS to a Jira/X-Ray solution for the framework of our testing and I helped create the solution.
            </p>
            <p>
                It's been quite the journey so far and I'm looking forward to continuing it at my next opportunity!<br />
                Oh, yeah, I would love to work and live in Hawaii!! <span style='font-size:50px;'>&#128526;</span>
            </p>
        </div>
    </div>
{% endblock content %}