<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/site.css' %}"/>
    {% block css %}{% endblock css %}

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Nick Ross</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item {% block nav_bar_home %}{% endblock nav_bar_home %}">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% block nav_bar_languages %}{% endblock nav_bar_languages %}">
                    <a class="nav-link" href="/languages">Languages</a>
                </li>
                <li class="nav-item {% block nav_bar_projects %}{% endblock nav_bar_projects %}">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item dropdown {% block nav_bar_employment %}{% endblock nav_bar_employment %}">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Employment</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="/employment">Employment Home</a>
                      <a class="dropdown-item" href="/employment/health-ecareers">Health eCareers</a>
                      <a class="dropdown-item" href="/employment/dice-holdings-inc">DHI Inc</a>
                      <a class="dropdown-item" href="/employment/ontargetjobs">onTargetJobs</a>
                      <a class="dropdown-item" href="/employment/aerios-direct-inc">Aerios Direct Inc</a>
                      <a class="dropdown-item" href="/employment/doximity">Doximity</a>
                    </div>
                </li>
                <li class="nav-item {% block nav_bar_contact %}{% endblock nav_bar_contact %}">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="{% static 'resources/Nick Ross.pdf' %}">Resume</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="content">
            <div class="weather">
                <div class="weather-container">
                    <div>Parker, Colorado</div>
                    <div>Last Updated <span class="lastUpdated">(Local Time)</span>: <span
                            id="parkerTime"></span></div>
                    <div>Current Conditions: <span id="parkerCurrentCond"></span></div>
                    <div>Temp: <span id="parkerTemp"></span></div>
                </div>
                <div class="weather-container">
                    <div>Kona, Hawaii</div>
                    <div>Last Updated <span class="lastUpdated">(Local Time)</span>: <span id="konaTime"></span>
                    </div>
                    <div>Current Conditions: <span id="konaCurrentCond"></span></div>
                    <div>Temp: <span id="konaTemp"></span></div>
                </div>
            </div>
            <div>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-lg-8">&copy; 2020 - Site by Nick Ross</div>
            <div class="col-lg-4" style="text-align: right">Created with Django/Python/MySql</div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/site.js' %}"></script>
    {% block js %}
    {% endblock js %}
</body>
</html>